#rock-ctnr {
    background-color: green;
}

#paper-ctnr {
    background-color: red;
}

#scissors-ctnr{
    background-color: blue;
    color: white;
}

.action-btn {
    background-color: rgba(0, 0, 0, 0);
}

.action-ctnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    gap: 10px;

    transition: background-color 2s;
}



button {
    border-radius: 6px;
    border: none;
    padding: 5px;
    font-size: large;
} /*style for each button*/

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

#game-ctnr{
    text-align: center;
    background-color: aqua;
} /* center everything in the game screen */

body { /* center the game */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;

    font-family:'Courier New', Courier, monospace;
}

img {
    height: 50px;
}



@keyframes onhover {
    to {background-color: white;}
}